image: node

stages:
  - build
  - deploy

before_script:
  - yarn install

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/
    - .next/cache/

build:
  stage: build
  script:
    - yarn run build
  artifacts:
    paths:
      - out
  only:
    - master

deploy:
  stage: deploy
  script:
    # configure ssh
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - cp "$SSH_KNOWN_HOSTS" ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - chmod 400 "$SSH_PRIVATE_KEY"
    # deploy
    - scp -r -i "$SSH_PRIVATE_KEY" out/index.html topfermi@gimli.ms.mff.cuni.cz:WWW
  only:
    - master