.navbar {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.navbar-brand {
    text-transform: none;
}
.nav-item {
    margin-right: 0.75rem;
}
.dropdown-item a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
}
h1 {
    font-size: 1.953rem
}
h2 {
  font-size: 1.563rem
}
h3 {
  font-size: 1.25rem
}
h4 {
  font-size: 1rem
}

b {
    font-weight: bold;
}

.text-muted a {
    color: #919aa1;
}

.co-bylo h3 {
    text-transform: none;
}
.co-bylo .cviko {
    margin-left: 34px;
}
.co-bylo p {
    margin-bottom: 0.5rem;
}

.hint {
    color: var(--bs-gray-300);
    background-color: var(--bs-gray-300);
}

.hint:hover {
    color: inherit;
}

.plan p {
    font-style: italic;
}
.plan p:before {
    content: "Plán – ";
}

.profilovka {
    width: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 40%;
}